.o-stage {
    --height: calc(100vh + 10rem);

    position: relative;
    min-height: var(--height);
    margin-bottom: 2rem;

    &__media {
        position: absolute;
        display: flex;
        left: 0;
        top: 0;
        height: var(--height);
    }

    &__text {
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 12rem;
        font-size: 1.75rem;
        line-height: 1.5;
        font-weight: 200;
    }

    &__box {
        position: relative;
        max-width: 50%;
        padding: 1.5rem 1.75rem;
        color: var(--color-dark);
        background-color: var(--color-light);
        margin-bottom: 2rem;
        margin-left: auto;

        &:before {
            content: '';
            position: absolute;
            right: -0.25rem;
            bottom: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 1rem 0 1rem 2rem;
            border-color: transparent transparent transparent var(--color-light);
            transform: rotate(45deg);
            transform-origin: bottom left;
        }
    }
}
