.a-link-box {
    display: inline-block;
    text-decoration: none;
    padding: 0.25rem 0.75rem;
    line-height: 1.25;

    &--size {
        &-s {
            font-size: 1.25rem;
            font-weight: 200;
            padding: 0.5rem 0.75rem;
        }

        &-m {
            font-size: 1.75rem;
            font-weight: 500;
            padding: 0.125rem 0.5rem;
        }

        &-l {
            font-size: 2rem;
            font-weight: 600;
        }

        &-xl {
            font-size: 2.5rem;
            font-weight: 600;
            padding: 0.5rem 1rem;
        }
    }

    &--color {
        &-light {
            color: var(--color-dark);
            background-color: var(--color-light);
        }

        &-dark {
            color: var(--color-light);
            background-color: var(--color-dark);
        }

        &-primary {
            color: var(--color-light);
            background-color: var(--color-primary);
        }

        &-secondary {
            color: var(--color-dark);
            background-color: var(--color-secondary);
        }

        &-js {
            color: var(--color-dark);
            background-color: var(--color-js);
        }

        &-vue {
            color: var(--color-dark);
            background-color: var(--color-vue);
        }

        &-react {
            color: var(--color-dark);
            background-color: var(--color-react);
        }

        &-sass {
            color: var(--color-light);
            background-color: var(--color-sass);
        }

        &-webpack {
            color: var(--color-light);
            background-color: var(--color-webpack);
        }

        &-cologne {
            color: var(--color-light);
            background-color: var(--color-cologne);
        }
    }

    &--hover {
        &:hover {
            color: var(--color-light);
            background-color: var(--color-dark);
        }
    }
}
