.o-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    padding-top: 2rem;

    &__navigation {
        display: flex;
        margin-left: auto;
    }
}
